body{
    background-color: #F7FBFC;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

body section{
    position: relative;
    height: 100vh;
    width: 100%;
    background-color: #FBFBFB;
}

body section header{
    position: absolute;
    top:0;
    left:0;
    height: 100px;
    width: 100%;
    background-color: #F1B99B;
    color: #ffffff;
    font-weight: 700;
}

#root section header h1{
    position: absolute;
    top: calc(50%);
    left: calc(50%);
    transform: translate(-50%, -50%);
    font-size: 38px;
}

#root section header div{
    position: absolute;
    top: 8px;
    left: 10px;
    font-size: 15px;
}

/* #root section:nth-child(4n+2) header{
    background-color:  #F1D195;
}

#root section:nth-child(4n+3) header{
    background-color: #C86D74;
}

#root section:nth-child(4n) header{
    background-color: #EED352;
} */

#root section div.dayCards{
    position: absolute;
    top: 110px;
    left: 10px;
    /* display: flex; */
    /* flex-wrap: wrap;
    flex-direction: row; */
    /* gap: 10px; */
}

#root section .dayCard{
    /* flex-basis: calc(100% / 7 - 10px);
    aspect-ratio: 1/2; */
    height: 150px;
    width: 100px;

    display: flex;
    flex-direction: column;
    align-content:center;
    align-items: center;
    justify-content: center;

    float: left;

    margin: 5px;
    border: none;
    border-radius: 0;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 2px 5px;

    background-color: #8CAA60;
    color: #ffffff;
}

#root section .dayCard:nth-child(7n){
    background-color: #98C865;
}

#root section .dayCard:nth-child(7n -1){
    background-color: #98C865;
}

.dayCard time{
    flex-grow: 1;
    flex-basis: 16%;
    
    width: 100%;

    /* background: #8CAA60; */
    color: #ffffff;
    text-align: center;
    
    font-size: 15px;
    font-weight: 500;
}

.dayCard time:nth-child(3){
    flex-grow: 1;
    flex-basis: 66%;

    line-height: 0;
    padding-top: 50%;

    justify-content: center;

    background: #ffffff;
    color: #000000;
    font-size: 40px;
    font-weight: 200;
}

#root section:nth-child(1) .dayCards{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

#root section:nth-child(1) .dayCards .dayCard{
    flex-basis: calc(14% - 5px);
    margin: 0;
    
}

#root section:nth-child(1) .dayCards .dayCard time:nth-child(3){
    flex-grow: 1;
    flex-basis: 66%;

    line-height: normal;
    padding-top: 0;
}