body{
    width: 100vw;
    background-color: #F7FBFC;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

body section{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #FBFBFB;
}

body section header{
    position: absolute;
    top:0;
    left:0;
    height: 80px;
    width: 100%;
    background-color: #F1B99B;
    color: #ffffff;
    font-weight: 700;
}

#root section header h1{
    position: absolute;
    top: calc(50%);
    left: calc(50%);
    transform: translate(-50%, -50%);
    font-size: 38px;
}

#root section header div{
    position: absolute;
    top: 8px;
    left: 10px;
    font-size: 15px;
}

#root section div.dayCards{
    position: absolute;
    top: 85px;
    left: 5px;
    width: calc(100% - 10px);
    gap: 5px;
}

#root section  .dayCards .dayCard{
    height: 150px;
    width: 100px;

    display: flex;
    flex-direction: column;
    align-content:center;
    align-items: center;
    justify-content: center;

    float: left;

    border: none;
    border-radius: 0;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 2px 5px;

    background-color: #8CAA60;
    color: #ffffff;
}

#root section .dayCard:nth-child(7n){
    background-color: #98C865;
}

#root section .dayCard:nth-child(7n -1){
    background-color: #98C865;
}

.dayCard time{
    flex-grow: 1;
    flex-basis: 16%;
    
    width: 100%;

    color: #ffffff;
    text-align: center;
    
    font-size: 15px;
    font-weight: 500;
}

.dayCard time:nth-child(3){
    flex-grow: 1;
    flex-basis: 66%;

    line-height: 0;
    padding-top: 50%;

    justify-content: center;

    background: #ffffff;
    color: #000000;
    font-size: 40px;
    font-weight: 200;
}

/* Region: First: january 7 in a row */
#root section:nth-child(1) .dayCards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 4px 10px;
}

#root section:nth-child(1) .dayCards .dayCard{
    height: 90px;
    width: 60px;
    flex-basis: calc(14% - 5px);
    flex-grow: 1;
}

#root section:nth-child(1) .dayCards .dayCard time:nth-child(3){
    line-height: 0;
    padding-top: 25px;
    font-size: 25px;
}
/* Endregion: First: january 7 in a row */


/* Region: Second: february 7 in a row */
#root section:nth-child(2) .dayCards{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

#root section:nth-child(2) .dayCards .dayCard{
    height: 135px;
    width: 90px;
    flex-basis: calc(14% - 5px);
    
}

#root section:nth-child(2) .dayCards .dayCard time:nth-child(3){
    flex-grow: 1;
    flex-basis: 66%;

    line-height: normal;
    padding-top: 0;
}
/* Endregion: Second: february 7 in a row */

/* Region: Third: march 7 in a column */
#root section:nth-child(3) .dayCards{
    height: calc(100vh - 80px);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    gap: 5px;
}

#root section:nth-child(3) .dayCards .dayCard{
    flex: 0 1 calc(14% - 5px);
    font-size: 10px;
    width: 20%;
    align-self: flex-start;
}

#root section:nth-child(3) .dayCards .dayCard time:nth-child(3){
    flex-grow: 1;
    flex-basis: 66%;
    font-size: 15px;

    line-height: normal;
    padding-top: 0;
}

/* Endregion: Third: march 4 in a column */

/* Region: 4: april 7 in a row */
#root section:nth-child(4) .monthHeader{
    height: 60;
}
#root section:nth-child(4) .dayCards{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

#root section:nth-child(4) .dayCards .dayCard{
    height: calc((100vh - 60px) * 0.15);
    flex-basis: calc(13%);
    flex-grow: 0;
}

#root section:nth-child(4) .dayCards .dayCard:nth-child(7n){
    flex-grow: 1;
}

#root section:nth-child(4) .dayCards .dayCard:nth-child(7n-1){
    flex-grow: 1;
}

#root section:nth-child(4) .dayCards .dayCard time:nth-child(3){
    flex-grow: 1;
    flex-basis: 66%;
    font-size: 150%;

    line-height: normal;
    padding-top: 0;
}

/* Endregion: 4: april 7 in a row weekends are bigger*/

/* Region: 5.: may 7 in a row weekdays are bigger*/
#root section:nth-child(5) .monthHeader{
    height: 60;
}
#root section:nth-child(5) .dayCards{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: left;
}

#root section:nth-child(5) .dayCards .dayCard{
    height: calc((100vh - 60px) * 0.15);
    flex-basis: calc(13%);
    flex-grow: 1;
}

#root section:nth-child(5) .dayCards .dayCard:nth-child(7n){
    flex-grow: 0;
}

#root section:nth-child(5) .dayCards .dayCard:nth-child(7n-1){
    flex-grow: 0;
}

#root section:nth-child(5) .dayCards .dayCard time:nth-child(3){
    flex-grow: 1;
    flex-basis: 66%;
    font-size: 150%;

    line-height: normal;
    padding-top: 0;
}
/* Endregion: 5.: may 7 in a row with 3 in the middle at the end*/

/* Region: 6: jun 7 in a row */
#root section:nth-child(6) .monthHeader{
    height: 60px;
}
#root section:nth-child(6) .dayCards{
    top: 70px;
    left: 50%;
    transform: translateX(-50%);
    width: 700px;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

#root section:nth-child(6) .dayCards .dayCard{
    height: 90px;
    flex-basis: 80px;
    flex-grow: 0;
}

#root section:nth-child(6) .dayCards .dayCard:nth-child(7n){
    flex-basis: 180px;
    flex-grow: 1;
}

#root section:nth-child(6) .dayCards .dayCard time:nth-child(3){
    flex-grow: 1;
    flex-basis: 66%;
    font-size: 150%;

    line-height: normal;
    padding-top: 0;
}
/* Endregion: 6: jun 7 in a row weekends are bigger*/

/* Region: 7.: july grid 7 in a row */
#root section:nth-child(7) .dayCards{
    display: grid;
    grid-template-columns: 80px 80px 80px 80px 80px 80px 80px;
    grid-gap: 10px;
    justify-content: space-around;
}

#root section:nth-child(7) .dayCards .dayCard time:nth-child(3){
    line-height: 0;
    padding-top: 25px;
    font-size: 25px;
}
/* Endregion: 7.: july grid 7 in a row */

/* Region: 8.: grid aug grid 7 in a row longer weekends*/
#root section:nth-child(8) .dayCards{
    display: grid;
    grid-template-columns: repeat(7, 40px);
    grid-gap: 10px;
    justify-content: space-around;
}

#root section:nth-child(8) .dayCards .dayCard{
    height: 75px;
    width: 50px;
}

  #root section:nth-child(8) .dayCards .dayCard time{
    font-size: 10px;
}
#root section:nth-child(8) .dayCards .dayCard time:nth-child(3){
    line-height: 0;
    padding-top: 10px;
    font-size: 20px;
}
/* Endregion: 8.: grid aug grid 8 in a row longer weekends*/

/* Region: 9.: grid sept flex 7 in a row longer weekends*/
#root section:nth-child(9) .dayCards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
/* Endregion: 9.: flex sept grid 7 in a row longer weekends*/

/* Region: 10.: grid oct grid 7 in a row longer weekends*/
#root section:nth-child(10) .dayCards{
    display: grid;
    grid-template-columns: 80px 80px 80px 80px 80px 200px 200px;
    grid-gap: 10px;
    justify-content: space-around;
}

#root section:nth-child(10) .dayCards .dayCard{
    height: 120px;
    width: 80px;
}

#root section:nth-child(10) .dayCards .dayCard:nth-child(7n+6) {
    width: 200px;
  }
  #root section:nth-child(10) .dayCards .dayCard:nth-child(7n) {
    width: 200px;
  }

  #root section:nth-child(10) .dayCards .dayCard time{
    font-size: 10px;
}
#root section:nth-child(10) .dayCards .dayCard time:nth-child(3){
    line-height: 0;
    padding-top: 10px;
    font-size: 20px;
}
/* Endregion: 10.: grid oct grid 7 in a row longer weekends*/

/* Region: 11.: grid nov grid 7 in a row longer weekends*/
#root section:nth-child(11) .dayCards{
    display: grid;
    grid-template-columns: repeat(7, 40px);
    grid-template-rows: repeat(5, 150px);
    grid-gap: 10px;
    justify-content: space-around;

    width: 760px;
    left: calc(50% - 380px);
}
/* Endregion: 11.: grid nov grid 7 in a row longer weekends*/

/* region dec in inline block */
#root section:nth-child(12) .dayCards{
    display: inline-block;
}
/* Endregion dec in inline block */

#root section:nth-child(12) .dayCards .dayCard{
    margin: 5px;
}

#root section .dayCard.clicked{
    animation: 1.2s ease-in-out flipCard;
}


@keyframes flipCard {
  0% {
    transform: rotate(180deg);
    background-color: #F1B99B;
    opacity: 30%;
  }
  90%{
      background-color: #F1B99B;
      opacity: 95%;
  }
  100% {
    transform: rotate(0deg);
    background-color: #98C865;
    opacity: 1;
  }
}

/* general query */
@media only screen and (max-width: 600px) {
    body{
        width: 300px;
        height: 100vh;
    }

    body section header{
        position: absolute;
        top:0;
        left:0;
        height: 60px;
        width: 100%;
        background-color: #F1B99B;
        color: #ffffff;
        font-weight: 700;
    }
    
    #root section header h1{
        position: absolute;
        top: calc(50%);
        left: calc(50%);
        transform: translate(-50%, -50%);
        font-size: 20px;
    }
    
    #root section header div{
        position: absolute;
        top: 8px;
        left: 10px;
        font-size: 10px;
    }

    #root section .dayCards{
        display: flex;
        top: 65px;
        width: 300px;
    }
}
/* january query */
@media only screen and (max-width: 598px) {
    body section:nth-child(1){
        position: relative;
        height: 100vh;
        width: 300px;
        background-color: #FBFBFB;
    } 

    #root section:nth-child(1) .dayCards{
        left: 3px;
        width: 250px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 3px;
    }

    #root section:nth-child(1) .dayCards .dayCard{
        height: auto;
        width: 50px;
        flex-basis: calc(14% - 3px);
    }

    #root section:nth-child(1) .dayCards .dayCard time{
        font-size: 10px;
    }

    #root section:nth-child(1) .dayCards .dayCard time:nth-child(3){
        font-size: 10px;
        line-height: 0;
        padding: 10px;
    }
  }

  /* feb query */
@media only screen and (max-width: 599px) {
    body section:nth-child(2){
        position: relative;
        height: 100vh;
        width: 300px;
        background-color: #FBFBFB;
    } 

    #root section:nth-child(2) .dayCards{
        left: 3px;
        width: 250px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 3px;
    }

    #root section:nth-child(2) .dayCards .dayCard{
        height: auto;
        width: 50px;
        flex-basis: calc(14% - 3px);
    }

    #root section:nth-child(2) .dayCards .dayCard time{
        font-size: 10px;
    }
}

/* march query */
@media only screen and (max-width: 610px) {
    body section:nth-child(3){
        position: relative;
        height: 100vh;
        width: 300px;
        background-color: #FBFBFB;
    } 

    #root section:nth-child(3) .dayCards{
        left: 3px;
        width: 250px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 3px;
    }

    #root section:nth-child(3) .dayCards .dayCard{
        height: auto;
        width: 50px;
        flex-basis: calc(14% - 3px);
    }

    #root section:nth-child(3) .dayCards .dayCard time{
        font-size: 10px;
    }
}

/* apr query */
@media only screen and (max-width: 608px) {
    body section:nth-child(4){
        position: relative;
        height: 100vh;
        width: 300px;
        background-color: #FBFBFB;
    } 

    #root section:nth-child(4) .dayCards{
        left: 3px;
        width: 250px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 3px;
    }

    #root section:nth-child(4) .dayCards .dayCard{
        height: auto;
        width: 50px;
        flex-basis: calc(14% - 3px);
    }

    #root section:nth-child(4) .dayCards .dayCard time{
        font-size: 10px;
    }
}

/* may query */
@media only screen and (max-width: 608px) {
    body section:nth-child(5){
        position: relative;
        height: 100vh;
        width: 300px;
        background-color: #FBFBFB;
    } 

    #root section:nth-child(5) .dayCards{
        left: 3px;
        width: 250px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 3px;
    }

    #root section:nth-child(5) .dayCards .dayCard{
        height: auto;
        width: 50px;
        flex-basis: calc(14% - 3px);
    }

    #root section:nth-child(5) .dayCards .dayCard time{
        font-size: 10px;
    }
}

/* jun query */
@media only screen and (max-width: 607px) {
    body section:nth-child(6){
        position: relative;
        height: 100vh;
        width: 300px;
        background-color: #FBFBFB;
    }
    
    #root section:nth-child(6) .dayCards{
        top: 70px;
        transform: 0;
        display: flex;
        flex-wrap: wrap;
        gap: 5px;
    }
    
    #root section:nth-child(6) .dayCards .dayCard{
        height: 90px;
        flex-basis: 80px;
        flex-grow: 0;
    }

    #root section:nth-child(6) .dayCards{
        width: 250px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 3px;
    }

    #root section:nth-child(6) .dayCards .dayCard{
        height: auto;
        width: auto;
        flex-basis: 30px;
    }

    #root section:nth-child(6) .dayCards .dayCard:nth-child(7n){
        flex-basis: 50px;
        flex-grow: 1;
    }

    #root section:nth-child(6) .dayCards .dayCard time{
        font-size: 10px;
    }
}

/* july query */
@media only screen and (max-width: 606px) {
    #root section:nth-child(7) .dayCards{
        display: grid;
        width: 300px;
        grid-template-columns: 30px 30px 30px 30px 30px 30px 30px;
        grid-gap: 3px;
        justify-content: space-around;
    }

    #root section:nth-child(7) .dayCards .dayCard{
        width: 30px;
        height: 45px;
    }

    #root section:nth-child(7) .dayCards .dayCard time{
        font-size: 8px;
    }

    #root section:nth-child(7) .dayCards .dayCard time:nth-child(3){
        line-height: 0;
        padding-top: 10px;
        font-size: 15px;
    }
}

/* aug query */
@media only screen and (max-width: 605px) {
    #root section:nth-child(8) .dayCards{
        display: grid;
        width: 300px;
        grid-gap: 3px;
        justify-content: space-around;
    }

    #root section:nth-child(8) .dayCards .dayCard{
        width: 30px;
        height: 45px;
    }

    #root section:nth-child(10) .dayCards .dayCard:nth-child(7n+6) {
        width: 50px;
    }

    #root section:nth-child(10) .dayCards .dayCard:nth-child(7n) {
        width: 50px;
    }

    #root section:nth-child(8) .dayCards .dayCard time{
        font-size: 8px;
    }

    #root section:nth-child(8) .dayCards .dayCard time:nth-child(3){
        line-height: 0;
        padding-top: 10px;
        font-size: 15px;
    }
}

/* sept query */
@media only screen and (max-width: 604px) {
    #root section:nth-child(9) .dayCards{
        width: 300px;
        gap: 5px;
        justify-content: space-around;
    }

    #root section:nth-child(9) .dayCards .dayCard{
        width: 30px;
        height: 45px;
    }

    #root section:nth-child(9) .dayCards .dayCard time{
        font-size: 8px;
    }

    #root section:nth-child(9) .dayCards .dayCard time:nth-child(3){
        line-height: 0;
        padding-top: 10px;
        font-size: 15px;
    }
}

/* OCT query */
@media only screen and (max-width: 603px) {
    #root section:nth-child(10) .dayCards{
        display: grid;
        width: 300px;
        grid-gap: 3px;
        justify-content: space-around;
        grid-template-columns: 30px 30px 30px 30px 30px 50px 50px;
    }

    #root section:nth-child(10) .dayCards .dayCard{
        width: 30px;
        height: 45px;
    }

    #root section:nth-child(10) .dayCards .dayCard time{
        font-size: 8px;
    }

    #root section:nth-child(10) .dayCards .dayCard time:nth-child(3){
        line-height: 0;
        padding-top: 10px;
        font-size: 15px;
    }
}

/* nov query */
@media only screen and (max-width: 602px) {
    #root section:nth-child(11) .dayCards{
        display: grid;
        width: 300px;
        top: 65px;
        left: 3px;
        grid-template-rows: repeat(7, 30px);
        grid-template-rows: repeat(5, 50px);
        grid-gap: 3px;
        justify-content: space-around;
    }

    #root section:nth-child(11) .dayCards .dayCard{
        width: 30px;
        height: 45px;
    }

    #root section:nth-child(11) .dayCards .dayCard time{
        font-size: 8px;
    }

    #root section:nth-child(11) .dayCards .dayCard time:nth-child(3){
        line-height: 0;
        padding-top: 10px;
        font-size: 15px;
    }
}

/* dec query */
@media only screen and (max-width: 601px) {
    #root section:nth-child(12) .dayCards{

        width: 300px;
        top: 65px;
        left: 3px;

        justify-content: space-around;
    }

    #root section:nth-child(12) .dayCards .dayCard{
        width: 30px;
        height: 45px;
    }

    #root section:nth-child(12) .dayCards .dayCard time{
        font-size: 8px;
    }

    #root section:nth-child(12) .dayCards .dayCard time:nth-child(3){
        line-height: 0;
        padding-top: 10px;
        font-size: 15px;
    }
}




